In [240]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

In [241]:
df=pd.read_csv("dataset.csv")

In [242]:
df.head()

,Gender,Age,NS1,IgG,IgM,Area,AreaType,HouseType,District,Outcome
0,Female,45,0,0,0,Mirpur,Undeveloped,Building,Dhaka,0
1,Male,17,0,0,1,Chawkbazar,Developed,Building,Dhaka,0
2,Female,29,0,0,0,Paltan,Undeveloped,Other,Dhaka,0
3,Female,63,1,1,0,Motijheel,Developed,Other,Dhaka,1
4,Male,22,0,0,0,Gendaria,Undeveloped,Building,Dhaka,0

In [243]:
# Chec Datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Gender     1000 non-null   object
 1   Age        1000 non-null   int64
 2   NS1        1000 non-null   int64
 3   IgG        1000 non-null   int64
 4   IgM        1000 non-null   int64
 5   Area       1000 non-null   object
 6   AreaType   1000 non-null   object
 7   HouseType  1000 non-null   object
 8   District   1000 non-null   object
 9   Outcome    1000 non-null   int64
dtypes: int64(5), object(5)
memory usage: 78.3+ KB

In [244]:
import numpy as np
##these are the features with nan value
features_with_na=[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5), '% missing values')

In [245]:
features_with_na

[]

***There is No Nun Values***

### Feature Engineering

In [246]:
df.head()

,Gender,Age,NS1,IgG,IgM,Area,AreaType,HouseType,District,Outcome
0,Female,45,0,0,0,Mirpur,Undeveloped,Building,Dhaka,0
1,Male,17,0,0,1,Chawkbazar,Developed,Building,Dhaka,0
2,Female,29,0,0,0,Paltan,Undeveloped,Other,Dhaka,0
3,Female,63,1,1,0,Motijheel,Developed,Other,Dhaka,1
4,Male,22,0,0,0,Gendaria,Undeveloped,Building,Dhaka,0

In [247]:
df.HouseType.value_counts()

HouseType
Building    354
Other       329
Tinshed     317
Name: count, dtype: int64

In [248]:
df.head()

,Gender,Age,NS1,IgG,IgM,Area,AreaType,HouseType,District,Outcome
0,Female,45,0,0,0,Mirpur,Undeveloped,Building,Dhaka,0
1,Male,17,0,0,1,Chawkbazar,Developed,Building,Dhaka,0
2,Female,29,0,0,0,Paltan,Undeveloped,Other,Dhaka,0
3,Female,63,1,1,0,Motijheel,Developed,Other,Dhaka,1
4,Male,22,0,0,0,Gendaria,Undeveloped,Building,Dhaka,0

In [249]:
# Convert Categorical features to numerical
df.Gender=df.Gender.map({"Male": 1, "Female": 0})

In [250]:
df.AreaType=df.AreaType.map({"Undeveloped": 1, "Developed": 0})

In [251]:
df.HouseType=df.HouseType.apply(lambda x: 1 if x=="Building" else 0)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import joblib



#  Define feature types
numeric_features = ['Age', 'NS1', 'IgG', 'IgM']  # keep Antibody_Score
binary_features = ['Gender', 'AreaType', 'HouseType']
categorical_features = ['Area']

#  Preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('bin', 'passthrough', binary_features),
        ('cat', OneHotEncoder(handle_unknown='ignore', drop='first'), categorical_features)
    ]
)

In [ ]:
#  Drop shortcut features
X = df.drop(columns=['Outcome'])
y = df['Outcome']

#  Split dataset
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)
preprocessor.fit(X_train)
# Transform datasets
X_train_processed = preprocessor.transform(X_train)
X_test_processed = preprocessor.transform(X_test)
#joblib.dump(preprocessor, "preprocessor_safe.pkl")

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
import joblib

#  Initialize classifier
rf_model = LogisticRegression()
 

#  Train on preprocessed training data
rf_model.fit(X_train_processed, y_train)

#  Predict on test data
y_pred = rf_model.predict(X_test_processed)

#  Evaluate
print("Classification Report:\n")
print(classification_report(y_test, y_pred))

print("Confusion Matrix:\n")
print(confusion_matrix(y_test, y_pred))

#  Save trained model for production
#joblib.dump(rf_model, "rf_dengue_model.pkl")

Classification Report:

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        93
           1       1.00      1.00      1.00       107

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

Confusion Matrix:

[[ 93   0]
 [  0 107]]